/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
@import "izitoast/dist/css/iziToast.min.css";
@import "simplelightbox/dist/simple-lightbox.min.css";

.gallery-image {
  width : 350px;
 height :220px;
}

.gallery {
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
}


.search-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
background: #4e75ff;
}

.main-title {
  text-align: center;  
color: rgb(13, 4, 21);
}
 
.modal-image {
 margin-left: auto;
 margin-right: auto;
 display: block;
 text-align: center;
}
.info-about{
 display: flex;
 gap: 5px;
 flex-direction: row;
}
.info{
 display: flex;
 flex-direction: column;
}
.cl-name {
 font-size: 9px;
}
.cl-number {
 font-size: 8px;
 text-align: center;
}
.search-form{
 text-align: center;
padding-top: 75px;
 font-size:30px;
}